<!DOCTYPE html>
<html>
  <head>
    <title>Add a new campus</title>
  </head>
  <body>
    <form action="/campuses" method="POST">
      <input type="text" name="name" placeholder="Campus City">
      <button type="submit">Add Campus mwahaha</button>
    </form>
  </body>
</html>