body {
	position: relative;
	margin-right: auto;
	margin-left: auto;
    width: 30%;

}

.hat {
	position: absolute; 
    z-index: 2;
}

.glasses {
	position: absolute;
	margin-left: 42px;
	margin-top: 178px;
    z-index: 3;

}

.octopus {
	position: absolute;
    margin-top: 80px;
    z-index: 1;
}

