body {
  font-family: Verdana, serif;
  text-size: .8em;
  background-color: #FF9933;
}

div p:first-chlid {
  border: 2px solid purple;
  padding: 10px;
  margin: 8px;
  background-color: #CCFF66;
  font-style: italic;
}